#site-wrapper{
  background-color: rgb(255, 255, 255);
}
#welcome-box{
  margin-top: 15%;
  height: 700px;
}

body{
  background-color: rgb(255, 255, 255);
}
#olli{
  border-radius: 40%;
  }
  #portfolio-box{
    margin-top: 15%;
    height: 700px;
  }
  #about-box{
    margin-top: 40%;
    margin-bottom: 20%;
    height: 700px;
  }
#cv-box{
  margin-top: 50%;
  height: 700px;
}
#mushroom-image{
  border: solid;
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  #mushroom-info{
    margin-top: 30px;
  }
  #olli{
  width: 100%;
  height: auto;
  border-radius: 40%;
  }
  #card{
    margin-top: 20px;
  }
#welcome-box{
  margin-top: 50%;
  height: 700px;
}
#portfolio-box{
  margin-top: 15%;
  height: 700px;
}
#cv-box{
  margin-top: 50%;
  height: 700px;
}
#about-box{
  margin-top: 50%;
  height: 700px;
  margin-bottom: 50px;
}

}