#site-wrapper{
  background-color: rgb(255, 255, 255);
}
#welcome-box{
  margin-top: 15%;
  height: 700px;
}

body{
  background-color: rgb(255, 255, 255);
}
#olli{
  border-radius: 40%;
  }
  #portfolio-box{
    margin-top: 15%;
    height: 700px;
  }
  #about-box{
    margin-top: 0%;
    margin-bottom: 20%;
    height: 700px;
  }
#cv-box{
  margin-top: 0%;
  height: 700px;
}
#mushroom-image{

}
@media only screen and (max-width: 600px) {
*{
    font-size: 15px;
  }
  #mushroom-info{
    margin-top: 30px;
    font-size: 20px;
  }
  #olli{
  width: 100%;
  height: auto;
  border-radius: 40%;
  }
  #card{
    margin-top: 20px;
  }
#welcome-box{
  margin-top: 50%;
  font-size: 20px;
}
#portfolio-box{
  margin-top: 15%;
}
#cv-box{
  margin-top: 50%;
}
#about-box{
  margin-top: 20%;
  margin-bottom: 50px;
}

}